html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

figure {
  margin: 0;
  width: 100%;
  height: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 88%);
}

main {
  background-color: hsl(0, 0%, 100%);
}

p {
  max-width: 65ch;
  font-family: "Source Serif Pro", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

a, a:visited {
  color: hsl(183, 56%, 48%);
}

a:hover {
  color: hsla(183, 56%, 48%, 75%);
}

a:active {
  color: hsla(183, 56%, 48%, 50%);
}

h1, h2, h3, h4, h5, h6, figcaption, ul {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  font-size: 3.75rem;
  font-weight: bold;
  margin-top: 0;
}

figcaption, ul {
  font-size: 0.8rem;
  color: hsl(0, 0%, 33%);
}

figcaption, .container {
  width: 100%;
  max-width: 72rem;
  padding: 1em 0;
}

.hero-img-wide {
  display: none;
}

.hero-img-narrow {
  display: block;
}

.container {
  margin: 1em auto;
  padding: 2em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.25em 0;
}

#image {
  max-width: 100%;
}

.lede {
  font-size: 1.875rem;
  line-height: 1;
  font-weight: 300;
}

.caps {
  text-transform: uppercase;
}

.fig-portait {
  max-width: 24rem;
}

.frame-x-scroll {
  max-width: 64rem;
  min-height: fit-content;
  overflow-x: scroll;
  overscroll-behavior-x: auto;
}

.img-x-scroll {
  display: block;
  width: auto;
}

.ref a {
  overflow-wrap: break-word;
  word-break: break-all;
}

@media (min-width: 640px) {
  body {
    padding: 1em;
  }
}

@media (min-width: 768px) {
  .lede {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {

  h1 {
    font-size: 2.25rem;
  }

  .hero-img-wide {
    display: block;
  }

  .hero-img-narrow {
    display: none;
  }
}
